body {
    background-image: url(Assert/Fondo-Body.jpg);
    background-size: cover;
}

/* Estilo para el header */
header {
    background-color: rgba(3, 3, 3, 0.375);
    display: flex;
    align-items: center;
    height: 100px;
    max-width: 97%;
    position: relative;
    padding: 0 20px; /* Espaciado interno */
}

/* Estilo para el párrafo centrado arriba */
header .parrafos .p1 {
    color: #ffd700;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: cursive;

    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 2px rgba(128, 9, 132, 0.8), 
        2px -2px 2px rgba(238, 255, 0, 0.8); 
}

/* Estilo para el segundo párrafo */
header .parrafos .p2{
    color: #ffd700;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 60%;
    transform: translateX(-60%);
    font-size: 13px;

    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 2px rgba(128, 9, 132, 0.8), 
        2px -2px 2px rgba(238, 255, 0, 0.8); 
}

/* Estilo para el logo alineado a la izquierda */
.logo {
    margin-right: 20px; /* Espacio entre el logo y el texto */
}

.logo img {
    width: 80px; /* Ajusta el tamaño del logo */
    height: auto;
    /* Efecto de sombra LED */
    filter: drop-shadow(0 0 8px rgba(238, 255, 2, 0.8)) 
    drop-shadow(0 0 15px rgba(255, 255, 1, 0.8)) 
    drop-shadow(0 0 20px rgba(4, 0, 6, 0.8));
}

.textos {
    flex: 1; /* Permite que el bloque de texto ocupe el espacio restante */
    display: flex; /* Habilita Flexbox para centrar los textos */
    flex-direction: column; /* Coloca los textos en columna */
    align-items: center; /* Centra los textos horizontalmente */
    
}

.botones {
    display: flex; /* Alinea los botones en una fila */
    margin-left: 80%; /* Empuja los botones hacia la derecha */
    position: absolute;
    
}

.btn {
    padding: 10px 20px; /* Espaciado interno */
    margin: 5px; /* Espacio entre los botones */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    font-size: 16px; /* Tamaño de fuente */
}

.depositar {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color de texto blanco */
}

.retirar {
    background-color: #f44336; /* Color de fondo rojo */
    color: white; /* Color de texto blanco */
}

.depositar:hover {
    background-color: #45a049; /* Color más oscuro al pasar el mouse */
}

.retirar:hover {
    background-color: #e53935; /* Color más oscuro al pasar el mouse */
}
